@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

body {
 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 0;
  
  background: rgb(255, 25, 0);
  background: linear-gradient(294deg, rgba(255, 25, 0, 1) 51%, rgba(34, 51, 195, 1) 51%);
}
.box{
   background-image: url(IMAGE/philippines-flag.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/*
nav {
  background: #004b91;
  padding: 5px 40px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 15px 0;
  cursor: pointer;
}

nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.items:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #ffffff;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}

nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 40px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}

nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: .4s;
}

nav ul li:hover a {
  color: rgb(255, 255, 255);
}

nav ul li i {
  font-size: 23px;
}

nav ul li.btn {
  display: none;
}

nav ul li.btn.hide i:before {
  content: '\f00d';
}*/

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }

  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.btn {
    display: block;
  }

  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #004b91,
      inset 0 0 10px #004b91;
  }

  nav ul li.items:hover:after {
    opacity: 0;
  }
  
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
  table {
    background-color: #dddddd;
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 80%;
  }
  
  td {
    border: 2px solid #000000;
    text-align: center;
    padding: 15px;
  }
  
  th{
    border: 1px solid #969696;
    text-align: center;
    padding: 15px;
  }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    td:nth-child(even) {
      background-color: #dddddd;

  }
 
    th:nth-child(even) {
      background-color: #dddddd;
    }

@media screen and (max-width: 600px) {
    td {
      display: block;
      border: 1px solid #000000;
    }
    
    td:before {
      content: attr(data-label);
      font-weight: bold;
      display: inline-block;
      width: 50%;
      margin-left: -50%;
      padding-right: 10px;
      text-align: right;
    }
  }
  

footer {
    background-color: #f2f2f2;
    padding: 1px 0;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .col-md-4 {
    padding: 0 15px;
  }
  
  h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(201, 159, 159, 0.432);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #646464;
  }
  
  .fa {
    display: inline-block;
    font-size: 1.5rem;
    width: 20px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .fa:hover {
    background-color: #f44336;
  }