body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 0;
  
  background: rgb(255, 25, 0);
  background: linear-gradient(294deg, rgba(255, 25, 0, 1) 51%, rgba(34, 51, 195, 1) 51%);
}



.content-container {
  background-color: #30AADD;
}

.form-box {
  width: 800px;
}

::placeholder {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .form-box {
    margin: 0 10px;
  }

  .left-box {
    height: 100px;
    overflow: hidden;
  }

  .right-box {
    padding: 20px;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*
@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }

  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.btn {
    display: block;
  }

  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #004b91,
      inset 0 0 10px #004b91;
  }

  nav ul li.items:hover:after {
    opacity: 0;
  }


}*/

footer {
  background-color: #f2f2f2;
  padding: 1px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.col-md-4 {
  padding: 0 15px;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}


.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(201, 159, 159, 0.432);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000000;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #646464;
}

.fa {
  display: inline-block;
  font-size: 1.5rem;
  width: 20px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.fa:hover {
  background-color: #f44336;
}